/* Global Styles */

body {
    background: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 16px;
}

/* Header Styles */

header {
    background-color: #ffffff;
    text-align: center;
}

h1 {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    padding: 30px 0px;
    color: #F16059;
    text-transform: uppercase;
    margin: 0;
}

header img {
    margin-right: 15px;
}

/* Main styles */
/* Center the content by making the browser automatically calculate the left and right margins */

main {
    width: 1000px;
    margin: 0 auto; 
}

.card {
    margin: 25px 0;
    overflow: auto;
}

.image {
    float: left;
    width: 500px;
    height: 550px;
}

/* border-box to include padding and border in an element's total width and height*/
.recipe {
    float: left;
    padding: 20px;
    width: 500px;
    height: 550px;
    background: #ffffff;
    box-sizing: border-box;
}

#cookies .image {
    background-size: cover;
    background: url(../img/gluten-free-sugar-cookies.jpg)
}

#pesto .image {
    background-size: cover;
    background: url(../img/nut-free-pesto.jpg)
}

#salad .image {
    background-size: cover;
    background: url(../img/watermelon-salad.jpg)
}